@model checkboxtest.Models.Enquete

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Enquete</legend>

    <div class="display-label">Titel</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Titel)
    </div>

    <div class="display-label">Omschrijving</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Omschrijving)
    </div>

    <div class="display-label">Active</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Active)
    </div>

    <div class="display-label">StartDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">EndDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>

    <div class="display-label">Anoniem</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Anoniem)
    </div>

    <div class="display-label">slotTekst</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.slotTekst)
    </div>

    <div class="display-label">Owner</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Owner.Voornaam)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
